@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
}

body {
    background-color: #1d0d28;
    background-image: url("../image/4907754.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container h1::before {
    content: "CSS - ";
    color: yellow;
}

.container h1::after {
    content: " - Estilizando com pseudo elementos";
}